@use "../../foundation/color" as *;

.c-form-group {
  height: 45px;
  position: relative;
  margin-bottom: 5px;

  &__label {
    position: absolute;
    height: 25px;
    width: 100%;
    font-size: 17.5px;
    transition: 0.2s;
    transform: translateY(19px);
    color: $c-text-light;
    z-index: 1;
  }

  & .focus {
    position: absolute;
    z-index: 1;
    height: 20px;
    font-size: 15px;
    transform: translateY(0);
    color: $c-text;
  }

  &__input {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    height: 25px;
    border: none;
    width: 100%;
    border-bottom: 1.5px solid $c-text;
    transition: 0.2s;
  }
}
