@use "../foundation/color" as *;

.c-next-button {
  background-color: $c-accent;
  border: 1.5px solid $c-text;
  box-shadow: 3px 3px $c-text;
  color: $c-base;
  font-family: "ヒラギノ丸ゴ ProN";
  font-size: 18px;
  font-weight: 400;
  padding: 0px 8px 0px 8px;
}
